body {
    background-color: rgb(206, 119, 13);
    /* background-image: url(gambar/moroccan-flower-dark.jpg);
    background-repeat: no-repeat; */
    background: url(gambar/vector.jpg) no-repeat top right;
}